.DS_Store
Icon?
# Settings for TextMate FTP
.ftpssh_settings

*.tmproj

# Ignore all my Capistrano information
Capfile
config/*

# Thumbnails
._*

# Ignore all the build directories
*/Build

# Also ignore the compiled directories
Editor.release
Presenter.release

# Ignore the compiled versions of CoreLecture and LiveLectureUtilities, those should be rebuit
# before release anyway
Editor/Frameworks/CoreLecture
Presenter/Frameworks/CoreLecture
Editor/Frameworks/LiveLectureUtilities
Presenter/Frameworks/LiveLectureUtilities

# Files that might appear on external disk
.Spotlight-V100
.Trashes
