.DS_Store
Icon?
# Settings for TextMate FTP
.ftpssh_settings

*.tmproj

# Ignore all my Capistrano information
Capfile
config/*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
