280NPLIST;1.0;D;K;18;CPBundleIdentifierS;21;com.280north.MediaKitK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;8;MediaKitK;19;CPBundlePackageTypeS;4;APPLK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;11;MediaKit.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;